<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="EDMAnalysisTests.Properties.Settings.testConnectionString"
        connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\Jony\Desktop\test.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
        providerName="System.Data.SqlClient" />
    <add name="EDMAnalysisTests.Properties.Settings.EDMDatabaseConnectionString"
        connectionString="Data Source=.\sqlexpress;Initial Catalog=EDMDatabase;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
