<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ivi.Visa" publicKeyToken="a128c98f1d7717c1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.0.0" newVersion="7.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NationalInstruments.DAQmx" publicKeyToken="4febd62461bf11a4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-23.8.45.49349" newVersion="23.8.45.49349" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
