<?xml version="1.0"?>
<configuration>
	
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NationalInstruments.Common.Native" publicKeyToken="18CBAE0F9955702A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.7.35.131" newVersion="8.7.35.131"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NationalInstruments.Common" publicKeyToken="18CBAE0F9955702A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.7.35.131" newVersion="8.7.35.131"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NationalInstruments.Common" publicKeyToken="DC6AD606294FC298" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.1.40.159" newVersion="9.1.40.159"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
