
bin


obj


*.suo

*.csproj

*.user


*.licx


*.lnk


*.csv


iamjack.sh


iamjoe.sh


MotMaster2/Data/*

*.sm2

MotMaster2/Scripts/*.sm2

packages/*

*.tmp_proj

*.vsp
*.cfg
.vscode/*
axel-hub.bat
