<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NationalInstruments.Common" publicKeyToken="dc6ad606294fc298" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.1.40.49152" newVersion="15.1.40.49152" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NationalInstruments.Vision.Common" publicKeyToken="18cbae0f9955702a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.1.35.100" newVersion="13.1.35.100" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>