<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MicrocavityScanner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MicrocavityScanner.Properties.Settings>
            <setting name="FastAxisStartBind" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FastAxisEndBind" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FastAxisResBind" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="SlowAxisStart" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SlowAxisEndBind" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SlowAxisResBind" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ExposureBind" serializeAs="String">
                <value>10</value>
            </setting>
        </MicrocavityScanner.Properties.Settings>
    </userSettings>
</configuration>