<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NationalInstruments.Common" publicKeyToken="4544464CDEAAB541" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.20.252" newVersion="8.0.20.252"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
